.app header>div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#root .app .MuiFormControlLabel-root {
    margin-right: 0;
}

.top-widgets {
    gap: 16px;
    margin-bottom: 16px;

    .widget {
        flex: 1 1;
        display: flex;
        background-color: #243325;
        height: 100px;
        border-radius: 10px;

        .widget-icon {
            align-items: flex-start;
            margin-top: 12px;
        }

        .widget-label {
            color: white;
            font-size: 14px;
            font-weight: 400;
            padding-top: 4px;
        }

        .widget-value {
            color: white;
            font-size: 24px;
            font-weight: 600;
        }

    }
}

.MuiTable-root {
    background-color: #232326;

    th.MuiTableCell-root strong {
        padding: 8px;
        border-radius: 8px;
        color: #839047;
        background: #161718;
    }
}

.MuiTableBody-root .MuiTableRow-root .MuiTableCell-root {
    color: white;
}

.MuiTableBody-root .MuiTableRow-root .MuiTableCell-root.disabled {
    color: grey;
}

.edit-product-modal-input label {
    color: white;
}

.edit-product-modal-input input {
    color: white;
    background-color: #101012;
}